.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    min-height: 100vh;
    color: var(--first-color);
    font-size: var(--big-font-size);
  }
